.whatContainer {
  /* border: solid red; */
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff6f4;
}
.whatHeadContainer {
  /* border: solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.whatHeadContainer > h1 {
  text-align: center;
}
.whatHeadContainer > h1 > span {
  color: var(--customColor);
}
.whatMainContainer {
  /* border: solid; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
.whatCardContainer {
  /* border: solid blue; */
  width: 15%;
  margin: 50px;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  background-color: var(--customColor);
}
.whatCardHeadContainer {
  /* border: solid red; */
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatImgContainer {
  /* border: solid green; */
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatImgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.whatTxtContainer {
  /* border: solid brown; */
  height: 40%;
  width: 90%;
}
.whatCardHeadContainer > h3 {
  text-align: center;
  color: white;
}
.whatTxtContainer > p {
  font-size: 15px;
  text-align: justify;
  color: white;
}
@media screen and (min-width: 320px) {
  .whatContainer {
    /* border: solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .whatHeadContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .whatHeadContainer > h1 {
    text-align: center;
  }
  .whatHeadContainer > h1 > span {
    color: var(--customColor);
  }
  .whatMainContainer {
    /* border: solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }
  .whatCardContainer {
    /* border: solid blue; */
    width: 60%;
    margin: 10px;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
    margin: 40px;
    background-color: var(--customColor);
  }
  .whatCardHeadContainer {
    /* border: solid red; */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .whatImgContainer {
    /* border: solid green; */
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff6f4;
  }
  .whatImgContainer > img {
    width: 80%;
    height: 90%;
    object-fit: contain;
  }
  .whatTxtContainer {
    /* border: solid brown; */
    height: 100%;
    width: 90%;
  }
  .whatCardHeadContainer > h3 {
    text-align: center;
    font-size: 15px;
  }
  .whatTxtContainer > p {
    font-size: 15px;
    text-align: justify;
  }
}
@media screen and (min-width: 768px) {
  .whatContainer {
    /* border: solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .whatHeadContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .whatHeadContainer > h1 {
    text-align: center;
  }
  .whatHeadContainer > h1 > span {
    color: var(--customColor);
  }
  .whatMainContainer {
    /* border: solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
  }
  .whatCardContainer {
    /* border: solid blue; */
    width: 25%;
    margin: 10px;
    height: 47vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 50px;
    background-color: var(--customColor);
  }
  .whatCardHeadContainer {
    /* border: solid red; */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .whatImgContainer {
    /* border: solid green; */
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .whatImgContainer > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .whatTxtContainer {
    /* border: solid brown; */
    height: 40%;
    width: 90%;
  }
  .whatCardHeadContainer > h3 {
    text-align: center;
  }
  .whatTxtContainer > p {
    font-size: 15px;
    text-align: justify;
  }
}
@media screen and (min-width: 990px) {
  .whatContainer {
    /* border: solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .whatHeadContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .whatHeadContainer > h1 {
    text-align: center;
  }
  .whatHeadContainer > h1 > span {
    color: var(--customColor);
  }
  .whatMainContainer {
    /* border: solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }
  .whatCardContainer {
    /* border: solid blue; */
    width: 20%;
    margin: 10px;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 50px;
    background-color: var(--customColor);
  }
  .whatCardHeadContainer {
    /* border: solid red; */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .whatImgContainer {
    /* border: solid green; */
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff6f4;
  }
  .whatImgContainer > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .whatTxtContainer {
    /* border: solid brown; */
    height: 40%;
    width: 90%;
  }
  .whatCardHeadContainer > h3 {
    text-align: center;
  }
  .whatTxtContainer > p {
    font-size: 14px;
    text-align: justify;
  }
}
@media screen and (min-width: 1200px) {
  .whatContainer {
    /* border: solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .whatHeadContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .whatHeadContainer > h1 {
    text-align: center;
  }
  .whatHeadContainer > h1 > span {
    color: var(--customColor);
  }
  .whatMainContainer {
    /* border: solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }
  .whatCardContainer {
    /* border: solid blue; */
    width: 17%;
    height: 45vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 50px;
  }
  .whatCardHeadContainer {
    /* border: solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .whatImgContainer {
    /* border: solid green; */
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff6f4;
  }
  .whatImgContainer > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .whatTxtContainer {
    /* border: solid brown; */
    height: 40%;
    width: 90%;
    background-color: var(--customColor);
  }
  .whatCardHeadContainer > h3 {
    text-align: center;
  }
  .whatTxtContainer > p {
    font-size: 15px;
    text-align: justify;
    background-color: var(--customColor);
  }
}
