.our2Container {
  /* border: solid red; */
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.our2Content1 {
  /* border: solid blue; */
  height: 60vh;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.our2Item1 {
  /* border: solid brown; */
  width: 120%;
  height: 60%;
  position: absolute;
  right: 50px;
  background-color:var(--customTransColor);
}
.our2head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our2head > h1 > span {
  color: var(--customColor);
}
.our2Item1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.our2Item1 > p {
  /* border: solid black; */
  height: 100%;
  font-size: 25px;
  width: 100%;
  line-height: 50px;
  color: black;
  letter-spacing: 1px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our2Content2 {
  /* border: solid green; */
  height: 60vh;
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.our2Item2 {
  /* border: solid brown; */
  height: 90%;
  width: 80%;
}
.our2Item2 > img {
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .our2Container {
    /* border: solid red; */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .our2Content1 {
    /* border: solid blue; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  .our2Item1 {
    /* border: solid brown; */
    width: 100%;
    height: 60%;
    position: static;
    left: 0px;
    background-image: none;
  }
  .our2head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our2head > h1 > span {
    color: var(--customColor);
  }
  .our2Item1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  .our2Item1 > p {
    /* border: solid black; */
    height: 100%;
    font-size: 25px;
    width: 95%;
    line-height: 30px;
    color: black;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our2Content2 {
    /* border: solid green; */
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .our2Item2 {
    /* border: solid brown; */
    height: 100%;
    width: 100%;
  }
  .our2Item2 > img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .our2Container {
    /* border: solid red; */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .our2Content1 {
    /* border: solid blue; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  .our2Item1 {
    /* border: solid brown; */
    width: 100%;
    height: 60%;
    position: static;
    left: 0;
    background-color:var(--customTransColor);
  }
  .our2head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our2head > h1 > span {
    color: var(--customColor);
  }
  .our2Item1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  .our2Item1 > p {
    /* border: solid black; */
    height: 100%;
    font-size: 20px;
    width: 90%;
    line-height: 30px;
    color: black;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our2Content2 {
    /* border: solid green; */
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .our2Item2 {
    /* border: solid brown; */
    height: 100%;
    width: 100%;
  }
  .our2Item2 > img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 990px) {
  .our2Container {
    /* border: solid red; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .our2Content1 {
    /* border: solid blue; */
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  .our2Item1 {
    /* border: solid brown; */
    width: 120%;
    height: 60%;
    position: absolute;
    right: 50px;
    background-color:var(--customTransColor);
  }
  .our2head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our2head > h1 > span {
    color: var(--customColor);
  }
  .our2Item1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  .our2Item1 > p {
    /* border: solid black; */
    height: 100%;
    font-size: 25px;
    width: 100%;
    line-height: 50px;
    color: black;
    letter-spacing: 1px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our2Content2 {
    /* border: solid green; */
    height: 60vh;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .our2Item2 {
    /* border: solid brown; */
    height: 90%;
    width: 80%;
  }
  .our2Item2 > img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .our2Container {
    /* border: solid red; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .our2Content1 {
    /* border: solid blue; */
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  .our2Item1 {
    /* border: solid brown; */
    width: 120%;
    height: 100%;
    position: absolute;
    right: 50px;
    background-color:var(--customTransColor);
  }
  .our2head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our2head > h1 > span {
    color: var(--customColor);
  }
  .our2Item1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  .our2Item1 > p {
    /* border: solid black; */
    height: 100%;
    font-size: 25px;
    width: 100%;
    line-height: 50px;
    color: black;
    letter-spacing: 1px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our2Content2 {
    /* border: solid green; */
    height: 60vh;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .our2Item2 {
    /* border: solid brown; */
    height: 90%;
    width: 80%;
  }
  .our2Item2 > img {
    height: 100%;
    width: 100%;
  }
}
