.ourGoalList {
  width: 100%;
}
.ourGoalList > ol > li > span {
  font-weight: bold;
}
@media screen and (min-width: 320px) {
  .ourGoalList > ol > li {
    font-size: 20px;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .ourGoalList > ol > li {
    font-size: 15px;
  }
}
@media screen and (min-width: 990px) {
  .ourGoalList > ol > li {
    font-size: 15px;
    margin: -6px;
  }
}
@media screen and (min-width: 1200px) {
  .ourGoalList > ol > li {
    font-size: 20px;
    margin: 0;
  }
}
