.packagesContainer {
  border: solid;
  width: 100%;
}
.packageMainContainer {
  border: solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.packageCardContainer {
  border: solid blue;
  width: 25%;
}
.packageCardHead {
  border: solid green;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--customColor);
}
.packageCardHead > h3 > span {
  font-size: 15px;
}
.packageDropContainer {
  border: solid brown;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.packageDropTxt {
  width: 90%;
}
.packageDropIcon {
  width: 10%;
}
.packageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.packageDropDown {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.packageDropDown > li {
  margin: 10px;
  text-align: start;
  width: 100%;
}
