:root {
  --customColor: #ff2230;
}

:root {
  --customGradient: linear-gradient(to right, #ff2231dd, #fbb13bdd);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* @font-face {
  font-family: "medium";
  src: local("futura-medium"),
    url("./Fonts/futura/FUTURA55REGULAR.TTF") format("truetype");
} */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
h1,
h2,
h3,
h4,
p {
  font-family: "Quicksand", sans-serif;
}
li {
  font-family: "Quicksand", sans-serif;
}
li > span {
  font-family: "Quicksand", sans-serif;
}
