:root {
  --customColor: #ff2230;
  --customGradient: linear-gradient(to right, #ff2231dd, #fbb13bdd);
  --customTransColor: #ff2231e0;
  --customWhite: #fff6f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@font-face {
  font-family: "customFont";
  src: url("./Fonts/futura/FUTURA55REGULAR.TTF") format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

h1,
h2,
h3,
h4,
p {
  font-family: "customFont", sans-serif;
}
li {
  font-family: "customFont", sans-serif;
}
li > span {
  font-family: "customFont", sans-serif;
}
